@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';


.change-cursor {
    cursor: pointer;
}

//pulsante BLU
.blue-btn {
    background-color: #718dd8;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.blue-btn:hover {
    background-color: #5375d1;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;

}

//pulsante rosa
.pink-btn {
    background-color: #ffafbdc3;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.pink-btn:hover {
    background-color: #ffbcc7c3;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;

}

//pulsante BEIGE
.beige-btn {
    background-color: #ffd465;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

.beige-btn:hover {
    background-color: #f7e4b4;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

//background beige

.bg-beige {
    background-color: #f7ecd1;

}

//background-blue

.bg-blue {
    background-color: #718dd8;
    color: whitesmoke;
}

//TESTO SCURO
.home-text {
    color: rgb(68, 68, 68);
}

//BRAND NAME
.brand {
    color: #718dd8;
    font-weight: bold;
}

//pulsanti carousel create

.carousel-btn {
    background-color: #718dd8 !important;
}

.carousel-btn-icon {
    color: #718dd8 !important;
}

//font-size-18
.fs-18 {
    font-size: 18px;
}

.type-bg {
    background-color: rgb(192, 201, 225);
    border-radius: 1rem;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



//NAVBAR

.navbar-container {
    background-color: #abbbe9b0;
    position: sticky;
    top: 0;
    z-index: 5;

    a {
        font-weight: bold;
    }
}


// DROPCONTAINER
.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #7b97d4;
    color: #4d9cb4;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

textarea::-webkit-scrollbar {
    display: none;
}

// Error page
.w-100vm {
    width: 100vm;
}

.h-100vh {
    height: calc(100vh - 201.5px);
}




//FOOTER
/* FOOTER */


/* -------------reset----------------*/




applet,
object,
iframe,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input:focus,
button:focus {
    outline: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}



ul li {
    list-style: none;
}





/* -----------------contenitore e contenuto ------------------ */

.descrizione {
    font-size: 0.9rem;
}

.contenitore .contenuto {
    max-width: 1200px;
    margin: auto;
    padding: 70px 10px;
    padding-bottom: 70px;
}

/* -----------------footer html-----------------*/

#footer-large a {
    color: white;
    /* seconday color*/
}

#footer-large a:hover {
    color: #ebb098;
    /* light seconday color*/
}

#footer-large .credits {
    max-width: 300px;
    margin: auto;
}

#footer-large .credits a img {
    -o-transition: opacity .2 ease-in;
    -ms-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease
}

#footer-large .credits a img:hover {
    opacity: 0.6;
}

#footer-large .social-cont .social-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 0;
}

#footer-large .social-cont .social-list>li {
    margin: 8px 8px 8px 0;
    display: inline-block;
    vertical-align: top;
    height: 32px;
    width: 32px;
    border-radius: 6em;
    background-color: #ebb098;
    /* secondary-color*/
}

#footer-large .social-cont .social-list li img {
    width: 32px
}

#footer-large .social-cont .social-list>li:hover {
    background: #718dd8;
    /* light seconday color*/
}

/* -----------------footer-large------------------ */
#footer-large {
    width: 100%;
    border-top: 1px solid #718dd8;
    padding-top: 20px;
    background-color: #718dd8;
    /* primary color*/
    color: #fff;
}

#footer-large p {
    line-height: normal;
}

#footer-large .footer-informazioni {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #718dd8;
    border-left: 10px solid #718dd8;
    border-right: 10px solid #718dd8;
    /* primary color*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #718dd8;
}

#footer-large .footer-menu {
    padding: 15px 0;
    border-bottom: 1px solid #ebb098;
    border-left: 10px solid #718dd8;
    /* primary color*/
    border-right: 10px solid #718dd8;
    /* primary color*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5em;

}

#footer-large .footer-contatti {
    padding: 15px 0;
    border-left: 10px solid #718dd8;
    /* primary color*/
    border-right: 10px solid #718dd8;
    /* primary color*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.avvertenze-legali p {
    font-size: 12px;
    line-height: 18px;
    margin: 10px 10px 0 10px;
    text-align: justify;
    border-top: 1px solid #e49c96;
    /* light seconday color*/
    ;
    padding: 26px 0;
    border-bottom: 1px solid #e49c96;
    display: inline-block;
}

.credits {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 50px;
    font-size: 14px;
}

@media screen and (min-width: 672px) {

    #footer-large .footer-informazioni {
        padding: 0 0 15px 0;
        border-bottom: none;
        border-left: 10px solid #718dd8;
        border-right: 10px solid #718dd8;
        /* primary color*/
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }

    #footer-large {
        display: inline-block;
    }

    #footer-large .footer-menu {
        width: 50%;
        float: left;
        border-bottom: none;
        border-top: 1px solid #718dd8;
    }

    #footer-large .footer-contatti {
        width: 50%;
        float: left;
        border-bottom: none;
        border-top: 1px solid #718dd8;
    }

}

@media screen and (min-width: 1280px) {

    #footer-large {
        display: inline-block;
    }

    #footer-large .footer-container {
        max-width: 1300px;
        margin: auto;
    }

    #footer-large .footer-informazioni {
        width: 50%;
        float: left;
        border-bottom: none;
    }

    #footer-large .footer-menu {
        width: 25%;
        float: left;
    }

    #footer-large .footer-contatti {
        width: 25%;
        float: left;
    }

}