@import '~bootstrap/scss/bootstrap';
@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';

.change-cursor {
    cursor: pointer;
}

//pulsante BLU
.blue-btn {
    background-color: #718dd8;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.blue-btn:hover {
    background-color: #5375d1;
    color: white;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-decoration: none;

}

//pulsante BEIGE
.beige-btn {
    background-color: #ffd465;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

.beige-btn:hover {
    background-color: #f7e4b4;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 2rem;
    color: rgb(68, 68, 68);
    font-weight: bold;
}

//background beige

.bg-beige {
    background-color: #f7ecd1;

}

//background-blue

.bg-blue {
    background-color: #718dd8;
    color: whitesmoke;
}

//TESTO SCURO
.home-text {
    color: rgb(68, 68, 68);
}

//BRAND NAME
.brand {
    color: #718dd8;
    font-weight: bold;
}

//pulsanti carousel create

.carousel-btn {
    background-color: #718dd8 !important;
}

.carousel-btn-icon {
    color: #718dd8 !important;
}

//font-size-18
.fs-18 {
    font-size: 18px;
}

.type-bg{
    background-color: rgb(192, 201, 225);
    border-radius: 1rem;
}